.tenant-switcher:hover {
    background-color: coral;
    border-radius: 15px;
    cursor: pointer;
}

.create-update-tenant {
    display: inline-flex;
    border-radius: 8px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    color: white;
    background-color: rgba(249, 115, 22);
}

.create-update-tenant:hover {
    background-color: rgb(255, 195, 173);
    color: rgb(0, 0, 0);
}

.required-fields {
    display: flex;
    flex-direction: row;
    /* min-width: 35rem !important; */
    background-color: aqua;
}

.field-input {
    width: 10rem !important;
}